<div class="container">
  <h1 class="text-center"><%= @cocktail.name %></h1>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3" >
      <%= link_to "Add a new dose", '#', class: "toggle-form" %><br>
      <div class="dose-form" style="display: none;">
      <br>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.input :ingredient_id, collection: @ingredients %>
          <%= f.button :submit, {class: "btn btn-primary"} %>
        <% end %>
        <br>
      </div>

      <h2>Ingredients :</h2>
      <% @cocktail.doses.each do |dose| %>
        <% @cocktail.ingredients.each do |ingredient| %>
          <% if dose.ingredient_id == ingredient.id%>
            <h3><%= ingredient.name %><small> | <%= dose.description %> | <%= link_to "delete dose", dose_path(dose.id), method: :delete %></small></h3>
          <% end %>
        <% end %>
      <% end %>


    </div>
  </div>
</div>




